@import "../../Styles/_mixins";
@import "../../Styles/_variables";

.login__container {
  width: 100%;
  // height: 100vh;
  // background-color: $color-bg;
  overflow: hidden;
  @include for-phone-only {
    overflow: scroll;
  }
  .login__content {
    width: 100%;
    height: 100%;
    .login__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      .left {
        width: 40%;
        height: 100%;
        padding: 35px;
        @include for-phone-only {
          width: 100%;
          padding-bottom: 40px;
        }
        .logo {
          width: max-content;
          padding: 10px 20px;
          font-size: 2.5rem;
          font-weight: bold;
          // color: $color-secondary;
          border: 1px solid #ddd;
          @include for-phone-only {
            font-size: 2rem;
          }
        }
        h3 {
          font-size: 24px;
          font-weight: 700;
          padding-top: 25px;
          padding-bottom: 20px;
          color: $color-black;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          // color: $text-color;
          line-height: 1.4;
          padding-bottom: 2rem;
        }

        .field {
          position: relative;
          margin-bottom: 15px;
          .bx {
            position: absolute;
            right: 30px;
            top: 57%;
            color: gray;
            font-size: 1.1rem;
          }
        }
        .login__fp {
          margin: 20px 0;
          color: #ff9f43;
        }

        .btn__signin {
          margin-top: 20px;
          margin-bottom: 10px;
          width: 100%;
          height: 46px;
        }
        .already__acc {
          text-align: center;
          margin: 20px 0;
          font-size: 13px;
          a {
            margin-left: 3px;
            font-weight: bold;
            color: #ff9f43;
          }
        }
        h4 {
          position: relative;
          font-size: 13px;
          font-weight: 400;
          text-align: center;
          color: gray;
          &::before {
            content: "";
            background: #cccccc;
            width: 200px;
            height: 1px;
            position: absolute;
            top: 10px;
            right: 0;
            @include for-phone-only {
              width: 90px;
            }
          }
          &::after {
            content: "";
            background: #cccccc;
            width: 200px;
            height: 1px;
            position: absolute;
            top: 10px;
            left: 0;
            @include for-phone-only {
              width: 90px;
            }
          }
        }
        .login__auth {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 20px;
          gap: 20px;
          @include for-phone-only {
            flex-direction: column;
          }
          .google {
            width: 80%;
            display: flex;
            align-items: center;
            border: 1px solid #919eab3b;
            border-radius: 5px;
            padding: 10px 0;
            color: $color-black;
            justify-content: center;
            gap: 10px;
            cursor: pointer;
            @include for-phone-only {
              width: 100%;
            }
            .text {
              font-size: 13px;
            }
            &:hover {
              background-color: $color-primary;
              color: white;
            }
          }
        }
      }
      .right {
        width: 60%;
        height: 100%;
        @include for-phone-only {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }

  // Button css
  button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: $dark-blue;
    color: $color-white;
    // font-weight: bold;
    font-size: 0.936rem;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.25s;
    border: 1px solid $dark-blue;

    &:hover,
    &:focus {
      box-shadow: inset 0 -3.25em 0 0 $color-white;
      color: $dark-blue;
    }
  }

  button {
    transition: 0.25s;
  }
  button:hover,
  button:focus {
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

// A tag

.link {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #ff9f43;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
