// Header Start
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}
.header-upper {
  background-color: var(--color-131921);
  .form-control:focus {
    box-shadow: none;
    border-color: inherit;
  }

  .input-group-text {
    background-color: var(--color-febd69);
  }
  .header-upper-links {
    img {
      width: 35px;
      height: 35px;
    }
  }
}
.header-bottom {
  background-color: var(--color-232f3e);
  .menu-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .menu-links {
    display: flex;
    align-items: center;
    a,
    .dropdown button {
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
    }
  }
  .dropdown {
    button {
      box-shadow: none;
      display: flex;
      align-items: center;
      border: none;
      gap: 15px;
    }
    .dropdown-menu {
      background-color: var(--color-131921);
      width: 100%;
      transform: translate(0px, 57px) !important;
      .dropdown-item {
        background-color: transparent;
        padding: 10px 20px;
        margin-bottom: 3px;
        border-bottom: 1px solid var(--color-3b4149);
      }
    }
  }
}
// Header End

// Footer Start
footer {
  background-color: var(--color-232f3e);
  .input-group-text {
    background-color: var(--color-232f3e);
    color: #fff;
    padding: 8px 17px;
  }
}
footer:not(:first-child) {
  border-top: 1px solid #ffffff1a;
}
// Footer End

// Home Start
.main-banner-content {
  top: 15%;
  left: 5%;
  position: absolute;
  h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  h5 {
    font-size: 42px;
    line-height: 64px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    padding: 20px 0;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4;
    color: var(--color-131921);
  }
}
.small-banner {
  width: 49%;
}
.small-banner-content {
  top: 15%;
  left: 10%;
  position: absolute;
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-bf4800);
    margin: 0 0 12px;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    padding: 20px 0;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4;
    color: var(--color-131921);
  }
}

// Home Wrapper
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

// Categories section
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 10px #0000001a;
  padding: 15px;
  flex-wrap: wrap;
  > div {
    width: 25%;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 20px;
  }
  > div:nth-child(1),
  > div:nth-child(2),
  > div:nth-child(3),
  > div:nth-child(4) {
    border-bottom: 1px solid #ededed;
  }
  > div:nth-child(1),
  > div:nth-child(2),
  > div:nth-child(3),
  > div:nth-child(5),
  > div:nth-child(6),
  > div:nth-child(7) {
    border-right: 1px solid #ededed;
  }
  > div > div {
    width: 45%;
  }
}

// Home End

.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.button {
  background-color: var(--color-232f3e);
  color: #fff;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  &:hover {
    background-color: var(--color-febd69);
    color: #131921;
  }
}

.card-wrapper {
  background-color: #fff;
  box-shadow: 0px 0px 10px #0000001a;
  padding: 15px;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 30px;
}

// Blog Cards
.blog-card {
  background-color: #fff;
  border-radius: 10px;
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .blog-content {
    padding: 15px;
    p.date {
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0;
      font-weight: 400;
      color: #777;
      padding: 0;
    }
    h5 {
      font-size: 18px;
      color: var(--color-131921);
    }
    p.desc {
      font-size: 13px;
      line-height: 22px;
      color: #777;
      padding: 20px 0;
    }
  }
}

// Product Card
.product-card {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;

  .product-image {
    // height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 200px;
      margin: 20px auto;
      object-fit: contain;
      transition: 0.3s;
    }
    > img:nth-last-child(1) {
      display: none;
      transition: 0.3s;
    }
  }

  .product-details {
    h6 {
      color: var(--color-bf4800);
      font-size: 13px;
    }
    h5 {
      font-size: 15px;
      color: var(--color-131921);
      padding: 10px 0;
    }
    p.price {
      font-size: 16px;
      color: #1c1c1b;
      font-weight: bold;
      padding-top: 10px;
    }
  }
  // Action Bar
  .action-bar {
    position: absolute;
    top: 12%;
    right: -23px;
  }

  .wishlist-icon {
    position: absolute;
    top: 4%;
    right: 25px;
  }
  &:hover {
    .action-bar {
      right: 25px;
    }
    .product-image > img:nth-child(1) {
      display: none;
    }
    .product-image > img:last-child {
      display: block;
    }
  }
}

// Special Product
.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
