@import "../Styles/mixins";
@import "../Styles/_variables";
// Header Start
.header-top-strip {
  background-color: $dark-bg;
  border-bottom: 1px solid $dark-bg;
}
.header-upper {
  background-color: $dark-bg;
  .form-control:focus {
    box-shadow: none;
    border-color: inherit;
  }

  .input-group-text {
    background-color: $color-orange;
  }
  .header-upper-links {
    img {
      width: 35px;
      height: 35px;
    }
  }
}
.header-bottom {
  background-color: $dark-blue;
  .menu-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .menu-links {
    display: flex;
    align-items: center;
    a,
    .dropdown button {
      color: $color-white;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.3;
      text-transform: uppercase;
    }
  }
  .dropdown {
    button {
      box-shadow: none;
      display: flex;
      align-items: center;
      border: none;
      gap: 15px;
    }
    .dropdown-menu {
      background-color: $dark-bg;
      width: 100%;
      transform: translate(0px, 57px) !important;
      .dropdown-item {
        background-color: transparent;
        padding: 10px 20px;
        margin-bottom: 3px;
        border-bottom: 1px solid $dark-bg;
      }
    }
  }
}
// Header End

// Home Start
.main-banner-content {
  top: 15%;
  left: 5%;
  position: absolute;
  h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: $color-danger;
    margin: 0 0 12px;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  h5 {
    font-size: 42px;
    line-height: 64px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    padding: 20px 0;
  }
  p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4;
    color: $dark-bg;
  }
}
.small-banner {
  width: 49%;
}
.small-banner-content {
  top: 15%;
  left: 10%;
  position: absolute;
  h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $color-danger;
    margin: 0 0 12px;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  h5 {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -2px;
    font-weight: 500;
    text-transform: none;
    padding: 20px 0;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4;
    color: $dark-bg;
  }
}

// Home Wrapper
.home-wrapper-2 {
  background-color: $light-bg;
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include for-phone-only {
    flex-wrap: wrap;
    gap: 20px;
  }
  .services__items {
    display: flex;
    align-items: center;
    gap: 30px;
    @include for-phone-only {
      flex-wrap: wrap;
    }
  }
}
.header__add__content {
  display: flex;
  @include for-phone-only {
    // flex-wrap: wrap;
    flex-direction: column;
  }
  .left__ad {
    width: 100%;
    .right__ads {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// Categories section
.categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-white;
  box-shadow: 0px 0px 10px #0000001a;
  padding: 15px;
  flex-wrap: wrap;
  @include for-phone-only {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
  .category__items {
    display: flex;
    align-items: center;
    gap: 20px;
    @include for-phone-only {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
  > div {
    width: 25%;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 20px;
    @include for-phone-only {
      width: 100%;
    }
  }
  > div:nth-child(1),
  > div:nth-child(2),
  > div:nth-child(3),
  > div:nth-child(4) {
    border-bottom: 1px solid #ededed;
  }
  > div:nth-child(1),
  > div:nth-child(2),
  > div:nth-child(3),
  > div:nth-child(5),
  > div:nth-child(6),
  > div:nth-child(7) {
    border-right: 1px solid #ededed;
  }
  > div > div {
    width: 45%;
  }
}

// Home End

.button {
  background-color: $dark-blue;
  color: $color-white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
  &:hover {
    background-color: $color-orange;
    color: #131921;
  }
}

.card-wrapper {
  background-color: $color-white;
  box-shadow: 0px 0px 10px #0000001a;
  padding: 15px;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 30px;
}

// Blog Cards
.blog-card {
  background-color: $color-white;
  border-radius: 10px;
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .blog-content {
    padding: 15px;
    p.date {
      font-size: 13px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0;
      font-weight: 400;
      color: #777;
      padding: 0;
    }
    h5 {
      font-size: 18px;
      color: $dark-bg;
      padding: 5px 0;
      @include for-phone-only {
        font-size: 12px;
        font-weight: bold;
      }
    }
    p.desc {
      font-size: 13px;
      line-height: 22px;
      color: #777;
      padding: 20px 0;
      @include for-phone-only {
        font-size: 12px;
        text-align: left;
      }
    }
  }
}

// Blog .card-wrapper
.blog__card__container {
  width: 100%;

  .blog__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    p {
      font-size: 14px;
    }
    @include for-phone-only {
      grid-template-columns: repeat(2, 1fr);
    }
    .btn-readmore {
      @include for-phone-only {
        font-size: 13px;
        color: $color-orange;
        padding: 4px;
        border-radius: 5px;
        border: 1px solid $color-orange;
      }
    }
  }
}

// Product Card
.product__content {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.card__container {
  width: 24%;
  align-items: center;
  display: flex;
  gap: 10px;
}
.product-card {
  width: 100%;
  display: flex !important;
  gap: 10px;
  flex-wrap: wrap;

  .products {
    padding: 15px;
    background-color: $color-white;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    // max-width: 24%;
    .action-bar {
      position: absolute;
      top: 12%;
      right: -23px;
    }

    .wishlist-icon {
      position: absolute;
      top: 4%;
      right: 25px;
    }
    &:hover {
      .action-bar {
        right: 25px;
      }
      .product-image > img:nth-child(1) {
        // display: none;
      }
      .product-image > img:last-child {
        // display: block;
      }
    }
  }

  .product-image {
    // height: 270px;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 200px;
      margin: 20px auto;
      object-fit: contain;
      transition: 0.3s;
    }
    > img:nth-last-child(1) {
      // display: none;
      transition: 0.3s;
    }
  }

  .product-details {
    h6 {
      color: $color-danger;
      font-size: 13px;
    }
    h5 {
      font-size: 15px;
      color: $dark-bg;
      padding: 10px 0;
    }
    p.price {
      font-size: 16px;
      color: #1c1c1b;
      font-weight: bold;
      padding-top: 10px;
    }
  }
  // Action Bar

  .description {
    font-size: 13px;
    color: #777;
    width: 90%;
  }
}

// Special Product
.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: $color-white;
}
.bg-black {
  background-color: #000;
}

.famous-card {
  padding: 20px;
  background-color: $color-white;
  border-radius: 10px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  img {
    border-radius: 10px;
    margin-top: 100px;
  }
  .famous-content {
    top: 7%;
    left: 10%;
    h5 {
      font-size: 10px;
      line-height: 20px;
      font-weight: 500;
      color: lightgray;
      margin-bottom: 7px;
      text-transform: uppercase;
    }
    h6 {
      font-size: 20px;
      line-height: 38px;
      font-weight: 500;
      color: $color-white;
      margin: 10px 0;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      font-weight: 100;
      color: $color-white;
    }
  }
}

// Featured section

// Our Store style
.filter-card {
  background-color: $color-white;
  border-radius: 10px;
  padding: 10px 15px 25px;
  .filter-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #1c1c1b;
    padding-bottom: 20px;
  }
  ul,
  .form-check-label {
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    color: #777;
    cursor: pointer;
  }
  .form-check-input {
    &:focus {
      box-shadow: none;
      border-color: rgb(0, 0, 0, 0.25);
    }
    &:checked {
      background-color: $color-orange;
      border-color: $color-orange;
    }
  }
  .sub-title {
    font-size: 14px;
    font-weight: 600;
    color: #1c1c1b;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .colors {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    li {
      width: 30px;
      height: 30px;
      background-color: #ff9b9b;
      border-radius: 50%;
    }
  }
  .random-products {
    border-bottom: 1px solid #ededed;
    h5 {
      font-size: 13px;
      margin-bottom: 8px;
    }
  }
}

.random-products:last-child {
  border-bottom: none;
}

.filter-sort-grid {
  padding: 10px;
  background-color: $color-white;
  border-radius: 10px;
}
.grid {
  img {
    width: 32px;
    height: 32px;
    padding: 8px;
    background-color: #f2f2f2;
    border-radius: 3px;
  }
}

.gr-12 {
  width: 100%;
  .product-card {
    display: flex;
    gap: 20px;
    .product-image {
      width: 270px;
      height: auto;
    }
  }
  .action-bar {
    top: 16%;
  }
}
.gr-6 {
  width: 49%;
  .product-image img {
    margin: auto;
    display: block;
  }
}
.gr-4 {
  width: 32%;
  .product-image {
    width: 100%;
  }
}
.gr-3 {
  width: 24%;
}

// Contact
.contact-inner-wrapper {
  padding: 20px;
  border-radius: 15px;
  background: $color-white;
  gap: 15px;
  > div {
    width: 48%;
  }
  .contact-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;
  }
  .form-control {
    box-shadow: none;
    height: 46px;
    &:focus {
      border: 1px solid $color-orange;
    }
    &::-webkit-input-placeholder {
      font-size: 13px;
    }
  }
  .contact-label {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
    color: gray;
  }
  li {
    list-style: none;
  }
}

// Whistle style
.cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.whistlist-card {
  h5 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #1c1c1b;
    // padding: 10px 0;
  }
  h6 {
    font-size: 19px;
    line-height: 22px;
    font-weight: 500;
    padding-top: 10px;
  }
}

// Privacy Policy

.policy {
  width: 100%;
  background-color: $color-white;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ddd;
  h3 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }
  ul {
    list-style: none;
    li {
      line-height: 25px;
      font-size: 15px;
      margin-bottom: 1.5rem;
      a {
        margin-bottom: 10px;
        padding-left: 50px;
        font-size: 15px;
        color: gray;
        &:hover {
          // text-decoration: underline;
          color: #ffa32a;
        }
      }
    }
  }
}

// Single product
.single-product {
  background-color: $color-white;
  padding: 50px 20px;
  display: flex;
  border-radius: 10px;
  gap: 30px;
  @include for-phone-only {
    flex-direction: column;
  }
  .left__content {
    border-right: 2px solid #ddd;
    padding-right: 40px;
    width: 100%;
    display: flex;
    gap: 30px;
    @include for-phone-only {
      border: none;
      padding: 0;
    }
  }
  .img__wrap {
    img {
      width: 80px;
      height: 80px;
      border: 1px solid #eee;
      cursor: pointer;
      object-fit: contain;
    }
  }
  .right__image {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    img {
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
  .right__content {
    .title {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 35px;
    }
    .texts {
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;

      .brand {
        display: flex;
        gap: 20px;
        // width: 100%;
        align-items: center;
        .name {
          color: gray;
          margin: 10px 0;
        }
        .text {
          font-weight: bold;
        }
      }
    }
    .desc {
      font-size: 14px;
      margin: 10px 0;
      h5 {
        padding: 10px 0;
      }
    }
    .price {
      font-size: 1.3rem;
      font-weight: bold;
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      @include for-phone-only {
        flex-direction: column;
      }
      .add-cart {
        display: flex;
        align-items: center;
        gap: 10px;
        width: max-content;
        padding: 20px;
        @include for-phone-only {
          padding-left: 0;
        }
        .btn-add {
          border: none;
          outline: none;
          width: 60px;
          height: 40px;
          border-radius: 10px;
          background-color: $dark-blue;
          color: $color-white;
        }
        .btn-addcart {
          border: none;
          outline: none;
          background-color: $color-white;
          padding: 10px 37px;
          border: 1px solid $dark-blue;
          color: $dark-blue;
          &:hover {
            background-color: $dark-blue;
            color: $color-white;
            border: 1px solid $dark-blue;
          }
        }
      }
    }
  }
}

// Slider Content
.slider {
  @include for-phone-only {
    height: 190px !important;
  }
  svg {
    width: 25px;
    height: 25px;
    padding: 5px;
    color: red;
  }
}
.slider__image {
  width: 100%;
  height: 200px;
  padding: 10px 0;
  @include for-phone-only {
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    @include for-phone-only {
      height: 100%;
    }
  }
}
